<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Points</span>
            <input type="number" placeholder="Enter Points Scored" required [(ngModel)]="statlineMdl.points">
          </div>
          <div class="input-box">
            <span class="details">Rebounds</span>
            <input type="number" placeholder="Enter Rebounds Caught" required [(ngModel)]="statlineMdl.rebounds">
          </div>
          <div class="input-box">
            <span class="details">Assists</span>
            <input type="number" placeholder="Enter Assists Passed" required [(ngModel)]="statlineMdl.assists">
          </div>
          <div class="input-box">
            <span class="details">Steals</span>
            <input type="number" placeholder="Enter Steals" required [(ngModel)]="statlineMdl.steals">
          </div>
          <div class="input-box">
            <span class="details">Blocks</span>
            <input type="number" placeholder="Enter Blocks" required [(ngModel)]="statlineMdl.blocks">
          </div>
          <div class="input-box">
            <span class="details">FGA</span>
            <input type="number" placeholder="Enter FGA" required [(ngModel)]="statlineMdl.FGA">
          </div>
        <div class="input-box">
          <span class="details">FGM</span>
          <input type="number" placeholder="Enter FGM" required [(ngModel)]="statlineMdl.FGM">
        </div>
        <div class="input-box">
          <span class="details">3PTA</span>
          <input type="number" placeholder="Enter 3PTA" required [(ngModel)]="statlineMdl.ThreePTA">
        </div>
        <div class="input-box">
          <span class="details">3PTM</span>
          <input type="number" placeholder="Enter 3PTM" required [(ngModel)]="statlineMdl.ThreePTM">
        </div>
        <div class="input-box">
          <span class="details">FTA</span>
          <input type="number" placeholder="FTA" required [(ngModel)]="statlineMdl.FTA">
        </div>
        <div class="input-box">
          <span class="details">FTM</span>
          <input type="number" placeholder="FTM" required [(ngModel)]="statlineMdl.FTM">
        </div>
      </div>
        <div class="button">
          <input type="submit" value="Register" (click)="registerStatline()">
        </div>
      </form>
    </div>
  </div>

</body>
</html>
