<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Points</span>
            <input type="text" placeholder="Enter Points Scored" required>
          </div>
          <div class="input-box">
            <span class="details">Rebounds</span>
            <input type="text" placeholder="Enter Rebounds Caught" required>
          </div>
          <div class="input-box">
            <span class="details">Assists</span>
            <input type="text" placeholder="Enter Assists Passed" required>
          </div>
          <div class="input-box">
            <span class="details">Steals</span>
            <input type="text" placeholder="Enter Steals" required>
          </div>
          <div class="input-box">
            <span class="details">Blocks</span>
            <input type="text" placeholder="Enter Blocks" required>
          </div>
          <div class="input-box">
            <span class="details">FGA</span>
            <input type="text" placeholder="Enter FGA" required>
          </div>
        <div class="input-box">
          <span class="details">FGM</span>
          <input type="text" placeholder="Enter FGM" required>
        </div>
        <div class="input-box">
          <span class="details">3PTA</span>
          <input type="text" placeholder="Enter 3PTA" required>
        </div>
        <div class="input-box">
          <span class="details">3PTM</span>
          <input type="text" placeholder="Enter 3PTM" required>
        </div>
        <div class="input-box">
          <span class="details">FTA</span>
          <input type="text" placeholder="FTM" required>
        </div>
      </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

</body>
</html>
