<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <h1>&#x2728;Brooklyn Basket Players &#x2728;</h1>
            <div id="searchWrapper">
                <input
                    type="text"
                    name="searchBar"
                    id="searchBar"
                    placeholder="search for a player"
                />
            </div>
            <ul id="charactersList">
              <li class="character" *ngFor="let item of heroes">
                <h6>{{item.id}}</h6>
                <h2>{{item.name}}</h2>
                <img src="../../../assets/images/logo.png">
              </li>
            </ul>
        </div>
    </body>
</html>
